<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <h1><a class="navbar-brand" href="index.html">
                        <span>OC</span>Overland Community
                    </a></h1>
                <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center mx-auto">
                        <li class="nav-item active  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                            <a class="hover-fill" href="index.html" data-txthover="Home">Home</a>

                        </li>
                        <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                            <a class="hover-fill" href="aboutUs.html" data-txthover="About">about</a>
                            <a [routerLink]="['/aboutus']">Login</a>
                        </li>
						
                        <li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                            <a class=" hover-fill" data-txthover="Events" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Events
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="hover-fill" href="#" data-txthover="Activities">Activities</a>
								 <div class="dropdown-divider"></div>
                                <a class="hover-fill" href="#" data-txthover="Sports">Sports</a>
								 <div class="dropdown-divider"></div>
                                
                            </div>
                        </li>
						
						 <li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                            <a class=" hover-fill" data-txthover="JOBS" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Jobs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="hover-fill" href="#" data-txthover="Volunteering">Volunteering</a>
                                 <div class="dropdown-divider"></div>
								<a class="hover-fill" href="#" data-txthover="Government">Government</a>
								 <div class="dropdown-divider"></div>
								<a class="hover-fill" href="#" data-txthover="Temp/Gigs">Temp/Gigs</a>
								 <div class="dropdown-divider"></div>
								<a class="hover-fill" href="#" data-txthover="Permanent ">Permanent</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
						
						 <li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                            <a class=" hover-fill" data-txthover="News" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                News
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="hover-fill" href="#" data-txthover="Weather">Weather</a>
								 <div class="dropdown-divider"></div>
                                <a class="hover-fill" href="#" data-txthover="Local">Local</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
						
						<li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                            <a class=" hover-fill" data-txthover="Housing" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Housing
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="hover-fill" href="#" data-txthover="Rent">Rent</a>
								 <div class="dropdown-divider"></div>
                                <a class="hover-fill" href="#" data-txthover="Sales">Sales</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
						
						<li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                            <a class=" hover-fill" data-txthover="Sales" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sales
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="hover-fill" href="#" data-txthover="Collectibles">Collectibles </a>
								 <div class="dropdown-divider"></div>
                                <a class="hover-fill" href="#" data-txthover="Goods">Goods</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
						
						<li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                            <a class=" hover-fill" data-txthover="Community" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Community 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="hover-fill" href="#" data-txthover="Announcements">Announcements</a>
								 <div class="dropdown-divider"></div>
                                <a class="hover-fill" href="#" data-txthover="Forums ">Forums</a>
                                <div class="dropdown-divider"></div>
                                <a class="hover-fill" href="blog.html" data-txthover="Blog">Blog</a>
								<div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="btn bg-theme w3ls-btn text-uppercase font-weight-bold d-block" data-toggle="modal"
                        aria-pressed="false" data-target="#exampleModal">
                        Login
                    </button>
                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <div class="container-fluid banner-w3pvt-bg">
        <div class="row">
            <div class="col-lg-8">
                <div id="home" class="banner-w3pvt  d-flex align-items-center">
                    <div class="container">
                        <div class="d-flex flex-column">
                            <div class="bnr-txt-w3pvt  d-sm-flex justify-content-center align-items-center">
                                <div class="bnr-w3pvt-txt text-center">
                                    <h3>connect share & engage</h3>
                                    <div class="d-flex justify-content-between bnr-sub-txt align-items-center">
                                        <span></span>
                                        <p class="text-uppercase">welcome to overland community</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-auto">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 banner2-w3pvt"></div>
        </div>
    </div>
    
    <!-- follow us -->
    <div class="social-w3pvt">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="follow-wthree">
                        <h4 class="text-uppercase text-white">follow us</h4>
                        <span class="wthree-line"></span>
                    </div>
                </div>
                <div class="col-lg-10 d-sm-flex social_icon_list">
                    <a href="https://facebook.com" class="list-group-item list-group-item-action"><span class="fa fa-facebook social_icon d-block"
                            aria-hidden="true"></span>
                        facebook
                    </a>
                    <a href="https://twitter.com" class="list-group-item list-group-item-action"> <span class="fa fa-twitter social_icon d-block"
                            aria-hidden="true"></span>
                        twitter
                    </a>
                    <a href="https://www.youtube.com" class="list-group-item list-group-item-action"> <span class="fa fa-youtube social_icon d-block"
                            aria-hidden="true"></span>
                        youtube
                    </a>
                    <a href="https://www.vimeo.com" class="list-group-item list-group-item-action"><span class="fa fa-vimeo social_icon d-block"></span>
                        vimeo
                    </a>
                    <a href="https://www.linkedin.com" class="list-group-item list-group-item-action border-right-0">
                        <span class="fa fa-linkedin social_icon d-block" aria-hidden="true"></span>
                        linked in
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- follow us -->
    <footer>
        <div class="container">
            <div class="d-lg-flex justify-content-between align-items-center copy-right-wthree">
                <h2><a class="navbar-brand text-center" href="index.html">
                        <span>OC</span>Overland Community
                    </a></h2>
                <div class="cpy-right text-center">
                    <p class="text-white">© 2018 Overland Community. All rights reserved | Design by
                        <a href="index.html" class="text-theme"> Overland.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

    <div class="continer-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-3">  
              <router-outlet></router-outlet>
        </div>>
    </div>>
    
    
     
